@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
header {
  padding: 0.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6cbcff;
}

@media only screen and (max-width: 850px) {
  header {
    padding: 0;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

@media only screen and (max-width: 850px) {
  header nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

header nav .logo {
  width: 100px;
  opacity: 65%;
}

@media only screen and (max-width: 850px) {
  header nav .logo {
    visibility: hidden;
    width: 65px;
  }
}

header nav #hamburger-btn {
  background: none;
  border: none;
  display: none;
  margin-right: 2em;
}

@media only screen and (max-width: 850px) {
  header nav #hamburger-btn {
    display: block;
  }
}

header nav #hamburger-btn .hamburger-icon {
  width: 35px;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header nav .ul--wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    background: white;
  }
}

header nav .ul--wrap ul li {
  text-align: center;
  margin-left: 1em;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul li {
    margin: 1em 0;
  }
}

header nav .ul--wrap ul li .nav__link {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul li .nav__link {
    color: black;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 136, 212, 0.97)), to(rgba(30, 136, 212, 0.97))), url("../images/bg-desktop.svg");
  background: linear-gradient(rgba(30, 136, 212, 0.97), rgba(30, 136, 212, 0.97)), url("../images/bg-desktop.svg");
  background-size: contain;
}

.slide-controls--container {
  display: none;
}

.website--grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

@media only screen and (max-width: 850px) {
  .website--grid {
    -ms-grid-rows: 75px auto;
        grid-template-rows: 75px auto;
  }
}
/*# sourceMappingURL=styles.css.map */