@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
header {
  padding: 0.25em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #004c90;
  position: relative;
  z-index: 1000;
}

@media only screen and (max-width: 850px) {
  header {
    padding: 0;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 950px;
}

@media only screen and (max-width: 850px) {
  header nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header nav .logo {
  width: 70px;
  height: 70px;
  border: 4px solid white;
  border-radius: 999px;
  opacity: 100%;
}

@media only screen and (max-width: 850px) {
  header nav .logo {
    display: none;
    width: 60px;
    height: 60px;
  }
}

header nav .text-logo {
  font-size: 2.4rem;
  font-weight: 400;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.315);
  display: none;
}

header nav .text-logo span {
  color: #97ef88;
  font-weight: 600;
}

@media only screen and (max-width: 850px) {
  header nav .text-logo {
    display: block;
  }
}

header nav #hamburger-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  header nav #hamburger-btn {
    display: block;
  }
}

header nav #hamburger-btn .hamburger-icon {
  width: 30px;
  display: block;
}

header nav .ul--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap {
    height: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
  }
}

header nav .ul--wrap.display {
  visibility: visible;
}

header nav .ul--wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    background: white;
    top: 6rem;
  }
}

header nav .ul--wrap ul li {
  text-align: center;
  margin-left: 2em;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul li {
    margin: 1em 0;
  }
}

header nav .ul--wrap ul li .nav__link {
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

header nav .ul--wrap ul li .nav__link:hover {
  color: #97ef88;
}

header nav .ul--wrap ul li .nav__link::before {
  content: "";
  height: 0;
  width: 5px;
  background: #97ef88;
  position: absolute;
  left: -15px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

header nav .ul--wrap ul li .nav__link:hover::before {
  height: 100%;
}

@media only screen and (max-width: 850px) {
  header nav .ul--wrap ul li .nav__link {
    color: black;
  }
}

.darken {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(7, 7, 7, 0.616);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.darken.active {
  visibility: visible;
  opacity: 1;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
  height: 100%;
}

@media only screen and (max-width: 850px) {
  .main-content {
    padding: 0;
    position: relative;
  }
}

.main-content .main-content--wrap {
  margin-top: 1em;
  width: 85%;
  max-width: 950px;
  min-width: 700px;
  position: relative;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap {
    min-width: 300px;
    width: 100%;
    margin-top: 0;
  }
}

.main-content .main-content--wrap .title {
  font-size: clamp(3rem, 6vw, 8rem);
  font-weight: 400;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.315);
}

.main-content .main-content--wrap .title span {
  color: #97ef88;
  font-weight: 600;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .title {
    display: none;
  }
}

.main-content .main-content--wrap .slide--grid {
  border-radius: 5px;
  background: #222222;
  margin-top: 1em;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 550px;
      grid-template-rows: 550px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.315);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.315);
  overflow: hidden;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1.5fr;
        grid-template-rows: 2fr 1.5fr;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.main-content .main-content--wrap .slide--grid .info-box--wrap {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: rgba(5, 5, 5, 0.9);
  z-index: 998;
  padding: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide--grid .info-box--wrap {
    grid-column: unset;
    grid-row: unset;
    padding: 0.5em;
    background: #050505;
  }
}

.main-content .main-content--wrap .slide--grid .info-box--wrap .info-box {
  position: relative;
  color: white;
  display: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide--grid .info-box--wrap .info-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.main-content .main-content--wrap .slide--grid .info-box--wrap .info-box.active {
  -webkit-animation: slideIn 0.5s, fade2 1s;
          animation: slideIn 0.5s, fade2 1s;
}

.main-content .main-content--wrap .slide--grid .info-box--wrap .info-box__h2 {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 2em;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide--grid .info-box--wrap .info-box__h2 {
    font-size: 2rem;
    margin-bottom: 0.25em;
    max-width: 20ch;
  }
}

.main-content .main-content--wrap .slide--grid .info-box--wrap .info-box__p {
  font-size: 1.8rem;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide--grid .info-box--wrap .info-box__p {
    font-size: 1.4rem;
  }
}

.main-content .main-content--wrap .slide--grid .info-box--wrap .slide-1-info {
  display: block;
}

.main-content .main-content--wrap .slide--grid .slide__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
}

.main-content .main-content--wrap .slide--grid .slide-1-img {
  visibility: visible;
}

.main-content .main-content--wrap .slide-controls--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 850px) {
  .main-content .main-content--wrap .slide-controls--container .arrows--wrap {
    position: absolute;
    z-index: 1;
    top: -4rem;
  }
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap #prev,
.main-content .main-content--wrap .slide-controls--container .arrows--wrap #next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  padding: 0.1em;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap #prev:hover,
.main-content .main-content--wrap .slide-controls--container .arrows--wrap #next:hover {
  background: rgba(255, 255, 255, 0.096);
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap #prev img,
.main-content .main-content--wrap .slide-controls--container .arrows--wrap #next img {
  width: 20px;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap .circles {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap .circles .circle {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background: #919191;
  display: block;
  cursor: pointer;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap .circles .circle:hover {
  background: #b1b1b1;
}

.main-content .main-content--wrap .slide-controls--container .arrows--wrap .circles .circle.active {
  background: #97ef88;
}

@-webkit-keyframes slideIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

@keyframes slideIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1.15) translateZ(1px);
            transform: scale(1.15) translateZ(1px);
  }
  to {
    -webkit-transform: scale(1) translateZ(1px);
            transform: scale(1) translateZ(1px);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1.15) translateZ(1px);
            transform: scale(1.15) translateZ(1px);
  }
  to {
    -webkit-transform: scale(1) translateZ(1px);
            transform: scale(1) translateZ(1px);
  }
}

.animate {
  -webkit-animation: fade 0.5s ease-in-out, zoom 1.25s ease-out;
          animation: fade 0.5s ease-in-out, zoom 1.25s ease-out;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background: #1e88d4;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 136, 212, 0.97)), to(rgba(30, 136, 212, 0.97))), url("../images/bg-desktop.svg");
  background: linear-gradient(rgba(30, 136, 212, 0.97), rgba(30, 136, 212, 0.97)), url("../images/bg-desktop.svg");
  background-size: contain;
}

body.hidden {
  overflow: hidden;
}

.slide-controls--container {
  display: block;
}

.website--grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 90px auto;
      grid-template-rows: 90px auto;
}

@media only screen and (max-width: 850px) {
  .website--grid {
    -ms-grid-rows: 60px auto;
        grid-template-rows: 60px auto;
  }
}
/*# sourceMappingURL=styles.css.map */