.main-content {
    @include flexCenter();
    align-items: flex-start;

    .main-content--wrap {
        margin-top: 2em;
        width: 75%;
        max-width: 900px;
        min-width: 700px;
        position: relative;

        // outline: solid red 2px;

        .title {
            font-size: clamp(5rem, 6vw, 7rem);
            color: white;

            span {
                color: color(accent-light-green);
            }
        }

        .slide--grid {
            background: rgb(34, 34, 34);
            margin-top: 1em;
            width: 100%;
            display: grid;
            grid-template-columns: 300px 2fr;
            // grid-template-rows: minmax(450px, 0.7fr);
            grid-template-rows: 500px;
            box-shadow: $boxShadow;

            .info-box--wrap {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                background: rgba(5, 5, 5, 0.85);
                z-index: 998;
                padding: 1em;
                overflow: hidden;
                @include flexCenter();

                .info-box {
                    position: relative;
                    color: white;
                    display: none;
                    animation: slideIn 0.5s;

                    &__h2 {
                        font-size: 2.6rem;
                        font-weight: 400;
                        margin-bottom: 2em;
                    }

                    &__p {
                        font-size: 1.8rem;
                    }
                }

                .slide-1-info {
                    display: block;
                }
            }

            .slide__img {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
                animation: fade 0.5s;
            }

            .slide-1-img {
                display: block;
            }
        }

        .slide-controls--container {
            // outline: solid red 1px;
            position: absolute;
            bottom: 0rem;
            left: 1em;
            // left: 150px;
            // transform: translateX(-50%);
            z-index: 999;
            @include flexCenter();

            .arrows--wrap {
                width: 80px;
                background: white;
                margin: 0.25em 0;
                display: flex;
                padding: 0.25em 0.5em;
                justify-content: space-between;
                box-shadow: $boxShadow;
            }
        }
    }
}

@keyframes slideIn {
    from {
        left: -300px;
    }
    to {
        left: 0;
    }
}

.active {
    animation: slideIn 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
