$colors: (
    primary-blue: #1e88d4,
    secondary-dark-blue: #004c90,
    accent-light-green: #97ef88,
    black-90-opacity: #0000004f,
);

$boxShadow: 0 5px 10px rgba(0, 0, 0, 0.315);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin mobileSize {
    @media only screen and (max-width: 850px) {
        @content;
    }
}
